*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
}

header{
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

header img{
    height: 80%;
}

.container-pages{
    height: calc(100vh - 100px);
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    position: relative;
    top: 100px;
}

.v-slider-bloc{
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid black;
    height: calc(100vh - 100px);
    scroll-snap-align: center;
}



/**
 * BLOC 1
 */

.bloc-1{
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 0 20%;
}

.bloc-1 .parent {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr 2fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .bloc-1 .div1 { grid-area: 1 / 1 / 2 / 3; }
    .bloc-1 .div2 { grid-area: 2 / 1 / 3 / 2; }
    .bloc-1 .div3 { grid-area: 2 / 2 / 3 / 3; }

.bloc-1 .white-card{
    background-color: rgba(200, 200, 200, 0.7);
    min-width: 300px;
    border-radius: 25px;
    border: 3px solid #1f3e8d;
    box-shadow: 0px 0px 30px black;
    overflow: hidden;
}

.bloc-1 .white-card .texte{
    text-align: center;
    font-weight: 300;
    font-style: italic;
    line-height: 60px;
    padding: 30px;
    backdrop-filter: blur(10px);
}

.bloc-1 .white-card h2{
    background-color: black;
    color: white;
    font-size: 1.4em;
}

.bloc-1 .white-card p{
    font-size: 1em
}

.slider-photo{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: animate 15s ease-in-out infinite;
    -webkit-animation: animate 15s ease-in-out infinite;
    background-size: cover;
    background-position: center;
}

@keyframes animate {
    0%, 100% {
        background-image: url(/medias/buggati.jpg);
    }
    25% {
        background-image: url(/medias/lambo.jpg);
    }
    50% {
        background-image: url(/medias/audi.jpg);
    }
    75% {
        background-image: url(/medias/BMW.jpg);
    }
}

.video-container{
    z-index: -1;
    position: absolute;
}

.video-container video{
    object-fit: fill;
    object-position: center;
    height: 100%;
    width: 100vw;
    border: none;
}



/**
 * BLOC 2
 */

.bloc-2{
    background-image: url(/medias/buggati.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.bloc-2 .container{
    width: 100%;
    height: 100%;
    padding: 0 20%;
    backdrop-filter: blur(10px);
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);

    display: flex;
    justify-content: center;
    align-items: center;
}

.bloc-2 .parent {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: auto 1fr auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
    
    .bloc-2 .div1 { grid-area: 1 / 1 / 4 / 2; }
    .bloc-2 .div2 { grid-area: 1 / 2 / 2 / 3; }
    .bloc-2 .div3 { grid-area: 2 / 2 / 3 / 3; display: flex; justify-content: center; align-items: center; overflow: auto;}
    .bloc-2 .div4 { grid-area: 3 / 2 / 4 / 3; display: flex; justify-content: center; align-items: center;}

.bloc-2 .black-card{
    max-height: 90%;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 25px;
    border: 3px solid #1f3e8d;
    box-shadow: 0px 0px 30px black;
    overflow: hidden;
}

.bloc-2 .black-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bloc-2 .black-card h3{
    background-color: black;
    color: white;
    padding: 24px;
}

.bloc-2 .black-card p{
    color: white;
    padding: 24px;
    font-size: 0.8em;
}

.bloc-2 .black-card .button{
    width: 80%;
    margin: 24px 24px;
    background-color: #1f3e8d;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 12px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}