*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
}

header{
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

header a{
    height: 80%;
}

header a img{
    height: 100%;
}

.container-pages{
    height: calc(100vh - 100px);
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    position: relative;
    top: 100px;
}

.v-slider-bloc{
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid black;
    height: calc(100vh - 100px);
    scroll-snap-align: center;
}



/**
 * BLOC 1
 */

.bloc-1{
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 0 20%;
}

.bloc-1 .parent {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr 2fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .bloc-1 .div1 { grid-area: 1 / 1 / 2 / 3; }
    .bloc-1 .div2 { grid-area: 2 / 1 / 3 / 2; }
    .bloc-1 .div3 { grid-area: 2 / 2 / 3 / 3; }

.bloc-1 .white-card{
    background-color: rgba(200, 200, 200, 0.4);
    min-width: 300px;
    border-radius: 25px;
    transform: translateZ(0);
    border: 3px solid #1f3e8d;
    box-shadow: 0px 0px 30px black;
    overflow: hidden;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    -webkit-backdrop-filter: blur(10px);
                backdrop-filter: blur(10px);
}

.bloc-1 .white-card .texte{
    text-align: center;
    font-weight: 300;
    font-style: italic;
    line-height: 60px;
    padding: 30px;
}

.bloc-1 .white-card h2{
    background-color: black;
    color: white;
    font-size: 1.4em;
}

.bloc-1 .white-card .div2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bloc-1 .white-card p{
    font-size: 1em
}

.slider-photo{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: animate 15s ease-in-out infinite;
    -webkit-animation: animate 15s ease-in-out infinite;
    background-size: cover;
    background-position: center;
}

@keyframes animate {
    0%, 100% {
        background-image: url(/medias/buggati.jpg);
    }
    25% {
        background-image: url(/medias/lambo.jpg);
    }
    50% {
        background-image: url(/medias/audi.jpg);
    }
    75% {
        background-image: url(/medias/BMW.jpg);
    }
}

.video-container{
    z-index: -3;
    position: absolute;
}

.video-container video{
    object-fit: cover;
    object-position: center;
    height: 100vh;
    width: 100vw;
    border: none;
    overflow: hidden;
}



/**
 * BLOC 2
 */
.bloc-2{
    flex-flow: column;
    align-items: flex-start;
    position: relative;
    width: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,0.6);



    display: none;


    
}

.bloc-2 .title{
    color: white;
    background-color: #1f3e8d;
    padding: 8px 24px;
    border-radius: 0 25px 0 0;
    -webkit-border-radius: 0 25px 0 0;
    -moz-border-radius: 0 25px 0 0;
    -ms-border-radius: 0 25px 0 0;
    -o-border-radius: 0 25px 0 0;
}

.bloc-2 .slide-container{
    width: 100%;
    padding: 40px 0;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(20px);
    border: 5px solid #1f3e8d;
    border-left: none;
    border-right: none;
}

.bloc-2 .slide-content{
    margin: 0 40px;
}

.bloc-2 .card{
    width: 350px !important;
    margin: 0 16px;
    height: 50vh;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: flex-end;
    overflow: hidden;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.6);
}

.bloc-2 .card .image{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 70%);
}

.bloc-2 .card img{
    z-index: -1;
    position: absolute;
    object-fit: cover;
    height: 100%;
    width: 100%;
    
}

.bloc-2 .card .text{
    z-index: 1;
    color: white;
    padding-left: 16px;
    padding-bottom: 24px;
    
}

.bloc-2 .card .text h3{
    font-weight: normal;
}

.bloc-2 .card .text .price{
    font-weight: bold;
    display: inline-block;
    width: auto;
    margin-top: 8px;
    padding: 12px 24px;
    background-color: #1f3e8d;
}






/**
 * BLOC 3
 */

.bloc-3{
    background-image: url(/medias/buggati.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.bloc-3 .container{
    width: 100%;
    height: 100%;
    padding: 0 20%;
    -webkit-backdrop-filter: blur(10px);
                backdrop-filter: blur(10px);
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);

    display: flex;
    justify-content: center;
    align-items: center;
}

.bloc-3 .parent {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: auto 1fr auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
    
    .bloc-3 .div1 { grid-area: 1 / 1 / 4 / 2; }
    .bloc-3 .div2 { grid-area: 1 / 2 / 2 / 3; }
    .bloc-3 .div3 {
        grid-area: 2 / 2 / 3 / 3;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: visible;}
    .bloc-3 .div4 {
        grid-area: 3 / 2 / 4 / 3;
        display: flex;
        justify-content: center;
        align-items: center;}

.bloc-3 .black-card{
    max-height: 90%;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 25px;
    border: 3px solid #1f3e8d;
    box-shadow: 0px 0px 30px black;
    overflow: hidden;
}

.bloc-3 .black-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bloc-3 .black-card h3{
    background-color: black;
    color: white;
    padding: 24px;
}

.bloc-3 .black-card p{
    color: white;
    padding: 24px;
    font-size: 0.8em;
}

.bloc-3 .black-card .button{
    width: 80%;
    margin: 24px 24px;
    background-color: #1f3e8d;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 12px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}



/**
 * Smartphone
 */
@media (orientation: portrait) {
    header{
        height: 70px;
    }

    .container-pages{
        top: 70px;
        height: calc(100vh - 70px);
    }

    .v-slider-bloc{
        height: calc(100vh - 70px);
    }



    /**
     * BLOC 1
     */
    .bloc-1{
        padding: 0;
        flex-flow: column;
    }

    .bloc-1 .video-container{
        z-index: -1;
        position: absolute;
        bottom: 0;
    }

    .bloc-1 .video-container video{
        height: 50vh;
        object-fit: cover;
        object-position: center;
    }

    .bloc-1 .parent {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3fr auto 5fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        }
        
        .bloc-1 .div1 { grid-area: 2 / 1 / 3 / 2; }
        .bloc-1 .div2 { grid-area: 3 / 1 / 4 / 2; }
        .bloc-1 .div3 { grid-area: 1 / 1 / 2 / 2; }

    .bloc-1 .white-card{
        height: 100%;
        border: none;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        max-height: calc(100vh - 70px);
        background-color: rgba(200, 200, 200, 0);
        -webkit-backdrop-filter: blur(5px);
                backdrop-filter: blur(5px);
    }

    .bloc-1 .white-card .texte{
        padding: 12px !important;
    }

    .bloc-1 .white-card h2{
        color: white;
        font-size: 1.2em;
    }

    .bloc-1 .white-card p{
        font-size: 1em;
        line-height: 40px !important;
    }



    /**
     * BLOC 2
     */



     /**
     * BLOC 3
     */
    .bloc-3 .container{
        padding: 5%;
        display: block;
    }

    .bloc-3 .parent {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 45% 3fr 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        }
        
        .bloc-3 .div1 { grid-area: 2 / 1 / 3 / 2; }
        .bloc-3 .div2 { grid-area: 1 / 1 / 2 / 2; }
        .bloc-3 .div3 {
            grid-area: 3 / 1 / 4 / 2;
            display: inline-block;
            margin: auto;}
        .bloc-3 .div4 { grid-area: 4 / 1 / 5 / 2; }

    .bloc-3 .black-card{
        height: auto;
        overflow: auto;
    }

    .bloc-3 .black-card img{
        object-position: center 20%;
    }

    .bloc-3 .black-card h3{
        padding: 12px;
        font-size: 0.8em;
    }

    .bloc-3 .black-card p{
        padding: 12px;
    }

    .bloc-3 .black-card .button{
        font-size: 0.8em;
    }
}